@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 15px;
  border: 1px solid #191919;
  background: #FDFBF5;
}

/*
  Typography
*/

h1, h2, h3, h4, h5, h6{
  font-family: 'Syne', sans-serif;
}

h1{
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
}

p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

/*
  Global Components
*/

.btn{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #FDFBF5;
  background: #191919;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}