@font-face {
	font-family: 'Syne';
	src: url('../public/fonts/Syne/static/Syne-SemiBold.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../public/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

.font-Roboto-Mono {
	word-spacing: -2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-gold: 186 160 134;
	}
}

body {
	margin: 15px;
	border: 1px solid #191919;
	background: #fdfbf5;
}

/*
  Typography
*/

h1,
h2,
h3 {
	font-family: 'Syne', sans-serif;
	font-style: normal;
	font-weight: 500;
}

h1 {
	font-size: 96px;
	line-height: 110%;
}

h2 {
	font-size: 80px;
	line-height: 110%;
}

h3 {
	font-size: 64px;
	line-height: 110%;
	text-transform: uppercase;
}

h4 {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

nav span {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	text-transform: uppercase;
	word-spacing: -5px;
}

nav span.slider {
	position: absolute;
	display: block;
	left: 0;
	top: 100%;
	margin: 0 auto;
	height: 1px;
	background-color: rgb(var(--color-gold));
	width: 0%;
	transition: width 0.6s ease;
}

nav li a {
	position: relative;
}

nav li a:hover span.slider {
	color: rgb(var(--color-gold));
	width: 100%;
}

input,
textarea,
label {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

@media (max-width: 1024px) {
	h1,
	.text-title {
		font-size: 64px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 32px;
	}
	h4 {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
	nav span {
		font-size: 16px;
	}
	input,
	textarea,
	label {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	h1,
	.text-title {
		font-size: 48px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	nav span {
		font-size: 16px;
	}
	input,
	textarea,
	label {
		font-size: 12px;
	}
}

/*
  Global Components
*/

.btn {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #fdfbf5;
	background-color: #191919;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.btn:hover {
	background-color: rgb(var(--color-gold));
}

.btn:focus {
	background-color: #74583c;
}

@media (max-width: 768px) {
	.btn {
		font-size: 16px;
	}
}

#nav-icon {
	width: 37px;
	height: 24px;
	position: relative;
	margin-left: auto;
	cursor: pointer;
	z-index: 20;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 50%;
	background: #1a1918;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
	left: 50%;
}

#nav-icon span:nth-child(odd) {
	left: 0px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
	top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
	top: 9px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
	top: 18px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
	left: 5px;
	top: 11px;
}

#nav-icon.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 11px;
}

#nav-icon.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon.open span:nth-child(5) {
	left: 5px;
	top: 20px;
}

#nav-icon.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 20px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animate-fade-in {
	animation-name: fade-in;
	animation-duration: 150ms;
	animation-timing-function: ease-in-out;
}

.animate-fade-out {
	animation: fade-out 150ms ease-in-out forwards;
}

.modal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.modal-content {
	position: relative;
	background-color: #fdfbf5;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	max-width: 90%; /* Limiting the width */
	width: clamp(300px, 80%, 1400px); /* Fallback for older browsers */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height: fit-content;
	padding: 30px;
	border-radius: 8px;
}

.close-button {
	position: absolute;
	right: 2%;
	top: 3%;
	font-size: 1.75rem;
	transition: all 0.2s ease-in-out;
}

.close-button:hover {
	color: #74583c;
	cursor: pointer;
	font-size: 1.8rem;
}

.modal-content svg {
	margin: 30px auto;
}
.modal-content svg path {
	fill: transparent;
	stroke: #74583c;
}
